@import '~sanitize.css';

.container {
  display: flex;
}

.filter__content {
  height: 1200px;
  flex: 1;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
  font-weight: bold;
  background-color: black;
}

footer,
header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
}

header {
  min-height: 70px;
  border-bottom: 2px solid black;
}

footer {
  min-height: 120px;
  border-top: 2px solid black;
}

nav {
  border-radius: 10px;
  background:
    linear-gradient(135deg, white 35%, transparent 35%) -20px 0,
    linear-gradient(225deg, white 35%, transparent 35%) -20px 0,
    linear-gradient(315deg, white 35%, transparent 35%),
    linear-gradient(45deg, white 35%, transparent 35%);
  background-size: 40px 40px;
  background-color: #000;
  border: 2px solid black;
}

main {
  display: flex;
  flex-direction: column;
  width: 75%;
  background: lightblue;
  border: 2px solid black;
  border-radius: 10px;
}

article {
  min-height: 40vh;
  border-radius: 30px;
  background-color: white;
  margin: 30px;
  padding: 30px;
}

article::before,
article::after {
  content: '';
  margin-bottom: 10px;
  min-height: 20px;
  max-width: 55%;
  display: block;
  background-color: #dddddd;
}

article:after {
  max-width: 30%;
}

aside {
  width: 25%;
}
