[data-ovo_ss='container'] {
  display: flex;
  min-height: 100vh;
  position: relative;

  &[data-ovo_ss_pinned='bottom'] {
    [data-ovo_ss='content'] {
      align-self: flex-end;
    }
  }

  &[data-ovo_ss_fixed='true'] {
    [data-ovo_ss='content'] {
      position: fixed;
      top: 0;
    }
  }
}
