[ovo-scrollable-sticky] {
  display: flex;
  min-height: 100vh;
  position: relative;

  &[data-ovo_scrollable_sticky_pinned='bottom'] {
    [ovo-scrollable-sticky_content] {
      align-self: flex-end;
    }
  }

  &[data-ovo_scrollable_sticky_fixed='true'] {
    [ovo-scrollable-sticky_content] {
      position: fixed;
      top: 0;
    }
  }
}
