body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightblue;
  min-height: 100%;
}

img {
  width: 100%;
}

header,
footer {
  padding: 20px;
  background-color: black;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

button {
  background-color: white;
  color: black;
  border: 4px solid black;
  font-family: inherit;
  padding: 10px 20px;
  font-size: inherit;
}
