@import '../../../../sample//main.scss';

body {
  min-height: 400vh;
  min-width: 400vw;
  border-top: 300px solid black;
  border-bottom: 300px solid black;
}

section {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  color: white;
  font-size: 24px;
  background-color: black;
  padding: 20px;
}

input {
  width: 100%;
  border-radius: 0;
  border: 0;
  min-height: 34px;
  font-size: 20px;
  padding-left: 10px;

  &::placeholder {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  article {
    font-size: 18px;
    padding: 15px;
  }
}
