@import '~sanitize.css';

body {
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
footer {
  padding: 30px 15px;
  color: white;
  background-color: black;
  position: relative;
}

.container {
  max-width: 280px;
  margin: 0 auto;
}

main {
  padding: 30px 15px;
  position: relative;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 24px;
}

img {
  filter: hue-rotate(490deg)
}
