[data-carousel='slider'] {
  display: flex;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
}

[data-carousel='slide'] {
  box-sizing: border-box;
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

[data-carousel='arrow'] {
  visibility: hidden;

  &.is-arrow--loaded {
    visibility: visible;
  }
}

[data-carousel-visible-slides='2'] {
  [data-carousel='slide'] {
    width: 50%;
  }
}

[data-carousel-visible-slides='3'] {
  [data-carousel='slide'] {
    width: calc(100% / 3);
  }
}

[data-carousel-visible-slides='4'] {
  [data-carousel='slide'] {
    width: 25%;
  }
}

[data-carousel-visible-slides='5'] {
  [data-carousel='slide'] {
    width: 20%;
  }
}

[data-carousel-visible-slides='6'] {
  [data-carousel='slide'] {
    width: calc(100% / 6);
  }
}
