@import '../../../sample/main';

::selection {
  background: transparent;
}

body {
  text-align: center;
  font-size: 20px;
}

section {
  padding: 20px;
}

article {
  max-width: 400px;
  background-color: black;
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 0 auto;
  border-radius: 10px;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

h3 {
  font-size: 24px;
  text-align: center;
  pointer-events: none;
}

span {
  pointer-events: none;
  font-weight: normal;
}

