@import '../../../sample/main.scss';

main {
  padding: 30px 0;
}

.size-slider {
  [data-ovo-rs='slider'] {
    &::-webkit-scrollbar {
      height: 20px;
    }

    &::-webkit-scrollbar-track {
      border: 2px solid black;
    }

    &::-webkit-scrollbar-thumb {
      background-color: black;
      outline: initial;
      width: 20px;
    }
  }
}
