@import '../../../sample/main';

.to-anchor {
  border-radius: 8px;
  border: 4px dashed black;
  background-color: white;
  min-height: 100px;
  position: relative;
  padding: 10px;
}

footer {
  left: 0;
  width: 100%;
}

.container {
  min-height: 600vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
